.mailbox-container{
    display: flex;
    width: 100%;
}
.inbox{
    width: 30%;
    border: 1px solid;
    float: left;
    display: inline-block;

}
.mailbox-message{
    float: left;
    border: 1px solid;
    width: 70%;
    display: inline-block;
}
.inbox:after,.mailbox-message:after{
    height: 100%;
}